body {
  /* position: fixed !important;
  top: 0 !important;
  bottom: 0 !important; */
  width: 99.9% !important;
  height: 100vh !important;
  height: 100vh !important;
}

/* .storycontainer>.slide-image {
  height: 100vh !important;
} */